@import "tailwindcss";

@theme{

    /* container  */
    --spacing-mContainer: 1320px;
    /* container  */

/* font  */
  --font-display-dm: "DM sans", "sans-serif";
/* font  */

/* color  */
--color-normal: #767676;
--color-hoverC: #262626;
--color-categoryBg: #D8D8D8;
/* color  */

}
