body {
background: #ffffff;
}

*{
     font-family: "DM Sans", sans-serif;
}


/* productdetails er color input  */
.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-input::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
/* productdetails er color input  */
